!!!5

html
	head
		title="Jade/Vega Tests"
		script
			src="http://trifacta.github.com/vega/d3.v3.min.js"
		script
			src="http://trifacta.github.com/vega/vega.js"
		script
			src="http://trifacta.github.com/vega/d3.geo.projection.min.js"
	body
		div
			id="vis"
